<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\WebDocDB.mdf;User Instance=true" providerName="System.Data.SqlClient" />-->
    <!--<add name="WebDocEntities" connectionString="metadata=res://*/Models.DocumentModel.csdl|res://*/Models.DocumentModel.ssdl|res://*/Models.DocumentModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;attachdbfilename=|DataDirectory|\WebDocDB.mdf;integrated security=True;user instance=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!-- This connection string uses a SQL Server -->
    <!--  <remove name="WebDocEntities" />  -->
    <!--<add name="WebDocEntities" connectionString="metadata=res://*/Models.DocumentModel.csdl|res://*/Models.DocumentModel.ssdl|res://*/Models.DocumentModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=REDSHIFT-WIN\SQLEXPRESS;initial catalog=WebDoc;integrated security=True;pooling=False;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="SunConnectionString" connectionString="Server=WIN-A32G7PNI6Q4\PRAVEEN;Database=cse_545;Integrated Security=true" providerName="System.Data.SqlClient"/>-->
  <add name="WebDocEntities" connectionString="metadata=res://*/Models.WebDocModel.csdl|res://*/Models.WebDocModel.ssdl|res://*/Models.WebDocModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;attachdbfilename=|DataDirectory|\WebDoc.mdf;integrated security=True;user instance=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <!--<add name="WebDocEntities" connectionString="metadata=res://*/Models.WebDocModel.csdl|res://*/Models.WebDocModel.ssdl|res://*/Models.WebDocModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=REDSHIFT-WIN\SQLEXPRESS;initial catalog=WebDoc;integrated security=True;pooling=False;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" name=".ASPXFORMSAUTH" /> <!--Add this property for deployment requireSSL="true"-->
    </authentication>
    <authorization>
      <deny users="?" /> <!-- Unless noted as a location later, deny the user. -->
    </authorization>
    
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
  </system.web>
  <location path="Default.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Account/Reg_success.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Scripts">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Styles">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <!-- Debug Only!!! -->
  <location path="CreateMockData.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <!-- End Debug -->
  <location path="Account/GetImgText.ashx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  


  <system.webServer>
		<defaultDocument>
			<files>
				<add value="Default.aspx" />
			</files>
		</defaultDocument>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>